# Дополнения к образу "tools"

# Установим плюшки для разработки (Это войдет в образ, который будет использоваться только для разработки)
# Можно добавлять различные инструменты, которые помогут при отладке, сборке и т.д.
- "apk add --no-cache --update inetutils-telnet mc npm
           php81-pecl-xdebug
  "

# Отключим xdebug, если не нужен ;)
# - sed -i "s/^\(.*\)$/;\1/; s/;;/;/" /etc/php81/conf.d/50_xdebug.ini

